
.contenedor{   
    background-color: blueviolet;


}.texto{
    color: chartreuse;
    text-align: center;
    font-family: Lucida Sans Unicode; 
}
.parrafo{
    width: 505px;
    margin-left: 410px;
    margin-right: 20px;
    color: white;
}
@media  (max-width: 700px) {

    .parrafo{
        width: 100%;
        margin-left: 12px;
       
    }
  }